#dvt{
  background-color: black;
  background-image: url('http://i377.photobucket.com/albums/oo212/KurisuLim/26166866_1781308041888525_443652664680978078_n_zpsz9ktyxkr.jpg');
  background-size: cover;
  margin:0;
}
#about{
  background-color: black;
  background-image: url('http://i377.photobucket.com/albums/oo212/KurisuLim/26166866_1781308041888525_443652664680978078_n_zpsz9ktyxkr.jpg');
  background-size: cover;
  margin:0;
}
.bg-grey{
  background-color: #ecf0f1;
}
.logo-small{
  color:#2ecc71;
  font-size: 50px;
}
.thumbnail{
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img{
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.jumbotron {
  background-color: #1abc9c;
  color: #fff;
  padding:100px 25px;
}
#myPic{
  display: inline;
}
.container-fluid {
  padding: 60px 50px;
}
@media screen and (max-width: 768px) {
  .col-sm-4{
    text-align:center;
    margin:25 px 0;

  }  
}