@import url('https://fonts.googleapis.com/css?family=Oswald');
.container{
  margin:0;
  padding:0;
  font-family: 'Oswald', san-serif;
}
nav
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.5);
  transition: .5s;
}
nav .logo
{
  float: left;
  text-decoration: none;
  transition: .5s;
  line-height: 80px;
  text-transform: uppercase;
  color: #fcf7f7;
  display: flex;
}
nav ul
{
  float: right;
  margin:0;
  padding: 0;
  display: flex;
}
nav ul li
{
  list-style: none;
}
nav ul li a
{
  line-height: 80px;
  color: #f1e9e9;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}
nav ul li a:hover
{
  color: #fff;
  background: rgb(114, 135, 230);
}
section.top
{
  width: 100%;
  height: 100vh;
  margin: auto;
  background: url('../images/lake.jpg');
  display: table;
  top: 0;
  background-size: cover;
}
section.about
{
  width: 100%;
  height: 100vh;
  margin: auto;
  display: table;
  top: 0;
  background-size: cover;
  background-color: #1abc9c;
  color: #ffffff;
}
section.portfolio
{
  width: 100%;
  height: 100vh;
  margin: auto;
  display: table;
  top: 0;
  background-size: cover;
  background-color: #474e5d;
  color: #ffffff;
}
section.contact
{
  width: 100%;
  height: 100vh;
  background: cornsilk;
  background-size: cover;
}
section.container
{
  padding: 100px;
}
.top .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.top .content {
  max-width: 500%;
  margin: 0;
  text-align: center;
}
.top .content h1 {
  font-family: 'Oswald',sans-serif;
  color: whitesmoke;
  text-shadow: 0px 0px 300px black;
  font-size: 500%;
  text-transform: uppercase;
}
.top .content h2{
  font-family: sans-serif;
  color: whitesmoke;
  text-shadow: 0px 0px 300px black;
  font-size: 180%;
  position: relative;
  bottom: 50px;

}
.top .btn{

  font-family: 'Oswald',sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
}
.top i.fa {
  font-family: FontAwesome!Important;
  font-size: 100px;
}
.top .btn:hover{
  color: #fff;
  background: rgb(114, 135, 230);
}
.about .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.about .content {
  max-width: 500%;
  margin: 0;
  text-align: center;
}
.about .content h1 {
  font-family: 'Oswald',sans-serif;
  color: whitesmoke;
  text-shadow: 0px 0px 300px black;
  font-size: 500%;
  text-transform: uppercase;
}
.about .content img{
  display: inline;
  border-radius: 50%;
}
.about .content h2{
  font-family: sans-serif;
  font-size: 180%;
  position: relative;
}
.about .content p{
  position: relative;
  left: 35%;
  text-align: center;
  width: 30%;
  word-wrap: break-word;
}
.portfolio .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.portfolio .content {
  max-width: 500%;
  margin: 0;
  text-align: center;
}
.portfolio .content h2 {
  font-family: sans-serif;
  font-size: 300%;
  position: relative;
  bottom: 250px;
}